.inicio-container {
  background-color: gray;
  height: 100%;
  background-image: url("/background.jpeg"); /* Corregido a url() */
  background-size: cover; /* Para cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar repetición */
  background-attachment: fixed; /* Opcional: efecto parallax */
}

.canvas-container {
  width: 100%;
  height: 100%;
}

/* Opcional: estilo para el panel de control GUI */
.lil-gui {
  --width: 300px;
  --font-size: 14px;
}
