.main-main {
  background-color: red;
}

.inicio-container {
  /* padding: 10px; removed for full background canvas */
  height: 70vh;

  .title-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
  }
div{
  height: 100%;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
}

.title {
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  font-family: Signika;
  font-weight: 800;
  font-size: 10vw;
  text-shadow: 2px 2px 2px var(--color-primary);
  letter-spacing: 5px;
}

.slogan {
  color: rgba(22, 22, 22, 0.932);
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}

.button-div {
  display: flex;
  justify-content: center;
}
