
.inicio-container {
  margin-top: 5%;
  padding: 10px;
  height: 100%;
  background-image: url("/background.jpeg"); /* Corregido a url() */
  background-size: cover; /* Para cubrir todo el contenedor */
  background-position: center; /* Centrar la imagen */
  background-repeat: no-repeat; /* Evitar repetición */
  background-attachment: fixed; /* Opcional: efecto parallax */
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: #3BAE54;
  font-family: Signika;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 2px 2px 2px green;
  letter-spacing: 5px;
}

.slogan{
  display: flex;
  justify-content: center;
  color: rgba(246, 246, 246, 0.652);
  text-shadow:2px 2px 2px black;
  font-weight: 600;
  font-size: 15px;
  align-items: center;
  text-align: center;
}

.button-div{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}